@model IEnumerable<CarRental.Models.Car>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav>
    <ul class="nav-list">
        @Html.Action("CategoriesMenu")
    </ul>
</nav>

<section>
    <div class="content-container ">
        <div class="data-table-helper">

            <form id="search-form" method="get" class="table-helper-search" data-ajax="true" data-ajax-target="#carList">
                <input id="search-filter" type="search" name="searchQuery"
                       data-autocomplete-source="@Url.Action("FindName")"
                       placeholder="Wprowadź tekst, aby wyfiltrować..." />
                <input type="submit" value="" />
            </form>

        </div>

        <div id="carList">
            @Html.Partial("_Cars")
        </div>
    </div>
</section>


@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")

    <script type="text/javascript">
        $(function () {

            var setupAutoComplete = function () {
                var $input = $(this);

                var options =
                    {
                        source: $input.attr("data-autocomplete-source"),
                        select: function (event, ui) {
                            $input = $(this);
                            $input.val(ui.item.label);
                            var $form = $input.parents("form:first");
                            $form.submit();
                        }
                    };

                $input.autocomplete(options);
            };

            var ajaxSubmit = function () {

                var $form = $(this);
                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };

                $.ajax(settings).done(function (result) {
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    $($targetElement).replaceWith($newContent);
                    $newContent.effect("slide");
                });

                return false;
            };

            $("#search-filter").each(setupAutoComplete);
            $("#search-form").submit(ajaxSubmit);
        });
</script>



}